
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

body {
    margin: 0px;
    background-color: black;
}
/* span {
    display: block;
    margin:  16px 0 0 0;
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    font-size: 100px;
    opacity: 20%;
    color: white;
    text-align: center  ;
    position: absolute;
    left: 35%;

    
} */
h2 {
    margin: 0;
    font-size: 90px;
    color: white;
    text-align: center;
}
.author {
    display: flex;
    justify-content: center;
    align-items: center;
}
h3 {
    margin: 8px;
    display: inline-block;
    background-color: brown;
    background-size: 6px;
}

p {
    margin-bottom: 0px;
}
p , h1 {
    color: white;
    text-align: center;
}
.motivation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin : 40px 0px ;
    width: 50%;
    margin-left: calc(50% / 2);
}
img {
    
    height: 500px;
    width: 50%;
    border: 5px rgb(170, 60, 60) solid;
}